
<div id="new_curhat">
  <%= render partial: "curhats/form", locals: {curhat: Curhat.new} %>
</div> 

  <h1>Curhats</h1>

  <div id="curhats">
    <% @curhats.each do |curhat| %>
      <%= render curhat %>
      <p>
      <%= link_to "Show this curhat", curhat %>
      </p>
    <% end %>
  </div>
